
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <link rel="icon" href="./assets/50 x 49 - PNG.png" type="image/icon type">
    <link rel="stylesheet" href="./assets/bootstrap.min.css"/>
    <script type="text/javascript" src="./assets/vue.js"></script>

    <title>Закрыть счёта</title>
</head>

<body>
	<style type="text/css">
		.nav-link{
			font-weight: 700;
		}
		.active{
			color: #28a745 !important;
		}
	</style>

    	<header class="header" style="background: #eeeeee">
	        <div class="container">
	            <nav class="navbar navbar-expand-sm navbar-light">
	                <a href="index.html" class="navbar-brand">
	                   <img src="./assets/50 x 49 - PNG.png" alt="">
	                </a>
	                <div class="collapse navbar-collapse" id="collapsibleNavbar">
	                    <ul class="navbar-nav ml-auto">
	                        <li class="nav-item">
	                            <a href="index.html" class="nav-link">Создать счёта</a>
	                        </li>
	                        <li class="nav-item">
	                            <a href="close.html" class="nav-link active">Закрыть счёта </a>
	                        </li>
	                        <li class="nav-item">
	                            <a href="#persionalty" class="nav-link"></a>
	                        </li>
	                    </ul>
	                </div>
	            </nav>
	        </div>
	    </header>

    <div class="container" id="app">

    	<template v-if="issetInn !== true && cloedResult !== true && snipper !== true">
    		
    		<center><h1 class="mt-5 font-weight-bold active" style=" display: inline-block; border-bottom: 3px solid #28a745; padding-bottom: 3px;">Закрыть счёта</h1></center>

    		<form class="mt-5">
	            <div class="form-row">
	                <div class="form-group col-10">
	                  <label for="inputEmail4" class="active font-weight-bold">Введите ИНН</label>
	                  <input type="text" class="form-control" id="inputEmail4" v-model="formData.inn">
	                </div>
	                <div class="form-group col-2">
	                	<label for="inputEmail4" class="active mt-5">  </label>
	                  <button type="submit" class="btn btn-success ml-auto font-weight-bold" @click.prevent="innBtnHandler">Проверить</button>
	                <div>
	            </div>
	        </form>
    	</template>

		<template v-if="issetInn !== false && cloedResult !== true && snipper !== true">
	        <form class="mt-5">
	              <div class="form-row">
	                <div class="form-group col-12">
	                  <label for="inputEmail4" class="active font-weight-bold">ФИО / наинование организации</label>
	                  <input type="text" class="form-control" id="inputEmail4" :value="formData.name">
	                </div>
	                <div class="form-group col-md-3">
	                  <label for="inputEmail4" class="active font-weight-bold">ИНН</label>
	                  <input type="text" class="form-control" id="inputEmail4" :value="formData.inn">
	                </div>
	                <div class="form-group col-md-3">
	                  <label for="inputEmail4" class="active font-weight-bold">ЕНН</label>
	                  <input type="text" class="form-control" id="inputEmail4" :value="formData.ein">
	                </div>
	                <div class="form-group col-md-3">
	                  <label for="inputEmail4" class="active font-weight-bold">Дата закрыта (ГГГГММДД)</label>
	                  <input type="text" class="form-control" id="inputEmail4" :value="formData.doc_date">
	                </div>
	                <div class="form-group col-md-3">
	                    <label for="inputEmail4" class="active font-weight-bold">Оператор отделения банка</label>
	                    <input type="text" class="form-control" id="inputEmail4" :value="formData.bank_branch_operator">
	                </div>
	                <div class="form-group col-md-12">
	                  <label for="inputEmail4" class="active font-weight-bold">Причина отмены регистрации</label>
	                  <select class="form-control" id="inputEmail4" v-model="dereg_reason_id">
	                  	<template v-for="(dataOption, k) in dereg_reason">
	                  		<option :value="k"> {{ dataOption }}</option>
	                  	</template>
	                      
	                  </select>
	                </div> 
	               <template v-for="(key, value) in formData.currency">
	               		<div class="form-group col-md-3">
		                    <label for="inputEmail4" class="active font-weight-bold">Счёт {{ key.curr }} </label>
		                    <input type="text" class="form-control" id="inputEmail4" :value="key.acct">
		                </div>  
	               </template>            
	            </div>
	            <div class="form-row">
	              <button type="submit" class="btn btn-success ml-auto font-weight-bold" @click.prevent="closeAcctBtnHandler">Закрыть счёта</button>
	            </div>
	        </form>
         </template>

           <template v-if="cloedResult && snipper !== true">
         	<div class="v-modal mt-5">
			  <div class="modal-dialog">
			    <div class="modal-content">
			      <div class="modal-header">
			        <h5 class="modal-title active">Резултать</h5>
			        <button type="button" class="close"  @click="closeModal">
			          <span aria-hidden="true" class="active">&times;</span>
			        </button>
			      </div>
			      <div class="modal-body">
			       		<ul>
			       			<li v-for="results in obj">
			       				<p class="nav-item">
			       					ID: {{ results.id }} Счёт: {{ results.account_num }} Дата {{ results.dereg_date }}
			       				</p>
			       			</li>
			       		</ul>
			      </div>
			      <div class="modal-footer">
			        <button type="button" class="btn btn-success" data-dismiss="modal" @click="closeModal">Закрыть</button>
			      </div>
			    </div>
			  </div>
			</div>
         </template>

         <template v-if="snipper">
         	<div class="text-center text-success mt-5" style="transform: translateY(50%);">
			  <div class="spinner-border" role="status">
			    <span class="sr-only">Loading...</span>
			  </div>
			</div>
         </template>


    </div>

    <script>
        new Vue({
          el: '#app',
          data: {
          	issetInn: false,     
            formData: {
            	ein: '',
            	name: '',
            	inn: '',
            	doc_date: '1',
            	bank_branch_operator: '',
            	dereg_reason_desc: '',
            	currency: [],      	
            },
            obj: [],
            dereg_reason: [
            	" ",
            	"На основании заявления владельца банковского счета в порядке и в сроки, определяемые договором банковского счета и/или договором банковского вклада",
            	"По решению органа, создавшего предприятие, объединение, организацию или учреждение либо органа обладающего таким правом ",
            	"При расторжении договора банковского счета",
            	"По требованию уполномоченной кредитной финансовой организации Республики Таджикистан в случае, когда сумма денежных средств в банковском счете или банковского вклада не превышает предусмотренный минимальный размер, указанный в заключенном договоре",
            	"В иных случаях предусмотренных действующим законодательством",
            ],
            dereg_reason_id: 0,
            cloedResult: false,
            snipper: false,
          },
          methods: {
          	innBtnHandler: function()
          	{
				fetch('php/main.php', {
					method: 'POST',
					headers: {
					   'Content-Type': 'application/json',
					},
				  	body: JSON.stringify({
				  		inn: this.formData.inn,
				  		postKey: 1
				  	}),
				})
				.then(response => response.json())
					.then(data => {
						
						  data.forEach((item)=>{
						  	if(item.doc_date){
					      		this.formData.doc_date = item.doc_date
					     	 }
					     	if(item.bank_branch_operator){
					      		this.formData.bank_branch_operator = item.bank_branch_operator
					     	 }
					     	 if(item.currency){
					     	 	const c = item.currency.slice(5, 8);
					     	 	let curr = '';

					     	 	if (c == 972) {
									curr = 'TJS';
					     	 	} else if(c == 810){
									curr = 'RUB';
					     	 	} else if(c == 840){
									curr = 'USD';
					     	 	} else if(c == 978){
					     	 		curr = 'EUR';
					     	 	}

					     	 	this.formData.currency.push({ curr: curr, acct: item.currency});
					     	 }
					     	if(item.ein){
					      		this.formData.ein = item.ein
					     	}

					     	if(item.name){
					      		this.formData.name = item.name
					     	 }

					      })
					        if (this.formData.inn !== '')
			          		{
			          			this.issetInn = true;
			          		}
			          		
					})
					.catch((error) => {
						  this.formData.inn = '';
						  this.issetInn = false;
						  console.log(error);
					});
          	},
			closeAcctBtnHandler: function()
          	{
				this.snipper=true;										  

          		setTimeout(()=>{
          			this.snipper=false;
          		}, 3000);

				fetch('php/main.php', {
					method: 'POST',
					headers: {
					   'Content-Type': 'application/json',
					},
				  	body: JSON.stringify({
				  		inn: this.formData.inn,
				  		bank_branch_inn: this.formData.ein,
				  		dereg_date: this.formData.doc_date,
				  		dereg_reason_id: this.dereg_reason_id,
				  		dereg_reason_desc: this.formData.dereg_reason_desc,
				  		bank_branch_operator: this.formData.bank_branch_operator,
				  		accounts: this.formData.currency,
				  		postKey: 2
				  	}),
				})
				.then(response => response.json())
					.then(data => {
						this.cloedResult = true;
						data.forEach(item=>{
							if(item.result == 'OK'){
								this.obj.push({
									'account_num': item.account_num,
									'dereg_date': item.dereg_date,
									'id': item.id,
								})
							}
						});

						this.formData.inn = '';
				  		this.formData.ein = '';
				  		this.formData.doc_date = '';
				  		this.dereg_reason_id = '';
				  		this.formData.dereg_reason_desc = '';
				  		this.formData.bank_branch_operator = '';
				  		this.formData.name = '';
				  		this.formData.currency = [];
				  		this.dereg_reason_id = 0;	
					})			        			        			        
				.catch((error) => {
				  console.error('Error:', error);
				});
          	},

          	closeModal: function(){
          		this.cloedResult = false;
          		this.issetInn = false;
          		this.obj=[];
          	}


        },
		watch: {
		   dereg_reason_id : function (val) {
		      this.formData.dereg_reason_desc = this.dereg_reason[val];
		    },
		},
        })
    </script>

</body>

</html>